@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  font-family: "Unbounded";
}
html,
body {
  height: 98%;
}
body {
  background-image: url("/Background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
body::-webkit-scrollbar {
  width: 0px;
}
#app {
  height: 100%;
}
.cursor-pointer {
  cursor: pointer;
}
